*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #f5f2fa;
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px;
}

.navbar i{
    font-size: 1.5rem;
    color: #dadfe6;
}

.navbar i:nth-child(1){
    color: #fe466d;
}

.photo-and-actions{
    height: calc(100vh - 44px);
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 500px;
    height: 600px;
    background: url('./266206549_1297069454032683_4241244300207023067_n.jpg') no-repeat;
    color: red;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 2px 10px 0 rgba(130,130,130,0.77);
}

.photo-text{
    padding: 15px;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2,0,36,1) 0%,
        rgba(35,34,65,0) 0%,
        rgba(0,0,0,0.7) 52%
        );
    border-radius: 10px;

}

.photo-name-and-age{
    align-items: center;
    margin-bottom: 6px;
    font-size: 1.6rem;
}

.photo-name-and-age:nth-child(2){
    margin-left: 10px;
    font-weight: 500px;
}

.photo-bio{
   line-height: 1.7rem; 
   font-size: 1.1rem;
   font-weight: 500;
}

.actions {
    display: flex;
    flex: auto;
    align-items: center;
    margin: 1rem 3;
}

.action{
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
}

.actions .action:nth-child(1){
    color: #fd5068;
}


.actions .action:nth-child(2){
    margin: 0 1rem;
    color: #2db1ff;
    height: 48px;
    width: 48px;
    font-size: 1.5rem ;
}

.actions .action:nth-child(3){
    color: #1be4a1;
}